<div class="wrapper">
<input class="invisible" ref:fileInput type="file" on:change='loadFile(event)'>
<div on:click='simulateClickOnFileInput()' class="button">open file</div>
</div>



<!--
This is a Svelte component. Click the toggle
below right to see the generated code.

You can interact with this component via your
browser's console – try running the following:

    app.set({ name: 'everybody' });

You can also update the data via the JSON
editor on this page.
-->

<style>
  .wrapper {

  }

  .fileDialog {
    color: blue;
  }
</style>


<script>

  export default {
    methods: {
      
      loadFile: function(e){
        var file = e.target.files[0];

        // externalize that
        this.get( "modalityCollection" ).addModality( file, this.get("modalityName"), null, null );
      },
      
      
      simulateClickOnFileInput: function(){
        this.refs.fileInput.click();
      }
      
    },
    
    

  };
  
    
</script>
